<%- include("partials/header.ejs") %>

<div class="container">
    <div class="header">
        <h1>Fat Burner</h1>
        <div class="button">
            <a href= "/loggedinpage"> Choose User </a>
        </div>
    </div>
    <div class="button">
        <a href= "/register"> Register </a>
    </div>
    <br><br><br>
    <% if (locals.confirmRegistration) { %>
        <h2><%= confirmRegistration %></h2>
    <% } %>
    <a href = "https://www.facebook.com/juranekstepan/">
        <img src="images/schema_black.png">
</div>

<%- include("partials/footer.ejs") %>